body{
    margin: 0;
    padding: 0;
}
#bg{
    width: 100%;
    height: 100%;
    z-index: -5;
    position: absolute;
    margin: 0;
}
#shafa{
    position: absolute;
    bottom: 40px;
}

.myrow{
    height: 100%;
}
.row-s-1{
    height: 30%;
    width: 100%;
}

#pic{
    position: absolute;
    bottom: 10%;
    left: 25%;
}
.row-s-2{
    height:70%;
    width: 100%;
    display: table;
}
.outer {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.weather{

}
.section-1{
    /*background: rgba(255,255,255,0.5);*/
}
.section-2{

}
.section-3{
padding: 0;
}

#window{
    /*position: absolute;*/
    margin-top: 70%;
}

#Layer_1{
    position: relative;
    top: 30%;
    right: 2%;
}


/*.unit:hover{*/
/*    stroke: #646464;*/
/*    stroke-width:3px;*/
/*    stroke-linejoin: round;*/
/*}*/

.button {
    background-color:orangered;
    width: 180px;
    padding: 4px 0;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
}
.button p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
}
.button:hover {
    cursor: pointer;
}
.button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color:yellow;
    opacity: 0.4;
    bottom: -30px;
}
